<a href="https://colab.research.google.com/github/Aadi1612/python-basics/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

Hello

In [ ]:
age = 20 #'age' is a variable
print(age)

20

In [ ]:
name = 'John Smith'
ages = 20
admission = 'New'
print("Name:", name, "Age: ", ages,"Admission: ", admission)

Name: John Smith Age:  20 Admission:  New

In [ ]:
names = input ("What is your name? ") #'input' is a pre-defined function which stores values from user in string format(even if the iput is integer, or anyother data type)
print ("Hello " + names) #concatination: here string 'hello' is aaded to another string 'names'

What is your name? Aadithya
Hello Aadithya

**Conversion of DataTypes**

In [ ]:
birth_year = input("Your Birth year: ")
#age = 2024 - birth_year is going to give an error as 'input' function stores values as string(birth_year) and doing operation with an inerger(2024) will end up with an error
age = 2024 - int(birth_year)
print("Age: ",age)

Your Birth year: 2002
Age:  22

Another method

In [ ]:
birth_year = int(input("Your Birth year: "))
age = 2024 - birth_year
print("Age: ",age)

Your Birth year: 2002
Age:  22

In [ ]:
first_num = input("First number: ")
second_num = input("Second number: ")
sum = float(first_num) + float(second_num)
print("Sum: ", sum)

First number: 1
Second number: 2
Sum:  3.0

In [ ]:
age = 50
Age = str(age)
print(float(age))
print(str(age))

50.0
50

In [ ]:
print(type(age))
print(type(Age))

<class 'int'>
<class 'str'>

**String**

Slicing Strings

In [ ]:
a = "this is a very expensive world!"
print(a[5:15]) #normal, 15 not included
print(a[:14]) #slicing from the start
print(a[14:]) #slicing from the end
print(a[-8:-2]) #negative slicing: slicing from back

is a very
this is a very
 expensive world!
e worl

Methods in Strings:

These are buildin and all string methods return new values. They do not change the original string.

In [ ]:
print(a.capitalize()) # Capitalize the first letter of the string
print(a.casefold()) # Converts string into lower case
print(a.center(40)) # Center the string within a specified width (adjust as needed)
print(a.count('e')) # Count the occurrences of the letter 'e' in the string
print(a.encode()) # Encode the string using the default encoding
print(a.endswith('d')) # Check if the string ends with the letter 'd'
print(a.expandtabs(4)) # Expand tabs in the string (adjust tab size as needed)
print(a.find('expensive')) # Find the index of the first occurrence of the word 'expensive'
print(a.index('very')) # Find the index of the first occurrence of the word 'very'
print(a.replace('y', 'J')) # Replace occurrences of 'y' with 'J' in the string
print(a.upper()) # Convert the string to uppercase
print(a.lower()) # Convert the string to lowercase

This is a very expensive world!
this is a very expensive world!
    this is a very expensive world!
4
b'this is a very expensive world!'
False
this is a very expensive world!
15
10
this is a verJ expensive world!
THIS IS A VERY EXPENSIVE WORLD!
this is a very expensive world!

Find the index of the first occurrence of the word 'expensive'

In [ ]:
print(a.find('expensive')) #returns the output as the index of the word
print('expensive' in a) #returns the output in boolean value

15
True

Arithmetic operator

In [ ]:
x = 30
y = 10
A = 5.2
B = 2
c = 7

print(x + y) #addition
print(x - y) #subtraction
print(x * y) #multiplication
print(x / y) #division(simple)
print(x // y) #floor division
print(x % c) # modulus
print(c ** B) #exponentiation

40
20
300
3.0
3
2
49

In [ ]:
x = x + 10
y += 10 #augmented assignment operator
print(x)
print(y)

40
20

Logical Operator

In [ ]:
price = 25
print(price > 10 and price < 30) #both the statements are considered
print (price < 10 or price < 30) #only one of statement id considered
print(not price < 10) #reverse the result

True
True
True

IF statement

In [ ]:
temp = 35
if temp > 30:
  print("It's a hot day")

elif temp > 40:
  print("Its a nice day")

print ("Done")

It's a hot day
Done

In [ ]:
weight = input("Weight: ")
symbol = input("(K)g or (L)bs: ")
if symbol == 'l' or symbol == 'L':
  weight = float(weight) / 2.20462
  print("weight in kgs: ",weight)

elif  symbol =='k' or symbol == 'K':
  print("Weight in kgs: ", weight)

Weight: 45
(K)g or (L)bs: k
Weight in kgs:  45

WHILE statement

In [ ]:
i = 1
while i <= 5:
  print(i)
  i = i + 1

1
2
3
4
5

In [ ]:
j = 1
while j <= 10:
  print(j * '*')
  j = j + 1

*
**
***
****
*****
******
*******
********
*********
**********

**List**

In [ ]:
names = ["John", "Bob", "Mosh", "Sam", "Mary"]

print(names)
print(names[0]) #output will be of the index 0
print(names[-1]) #output will be of the index 1 from the last

names[1] = "Jin" #replace the element of index 1 without new element
print(names)

print(names[0:3]) #output will give the elements between the index 0 (included) and 3 (not included) only, but it doesn't modify the original list

['John', 'Bob', 'Mosh', 'Sam', 'Mary']
John
Mary
['John', 'Jin', 'Mosh', 'Sam', 'Mary']
['John', 'Jin', 'Mosh']

List Method

In [1]:
num = [1, 2, 3, 4, 5]
num.append(6) # Add the number to the end of the list
print(num)

list = [8, 9, 7, 6] # To extend the current list with another list
num.extend(list)

num.insert(0, -8) # Add in the element in desired index
print(num)

num.remove(3) # Remove the element 3
print(num)

num.pop(3) # Remove the element with the index 3
print(num)

num.pop() # Remove the last element
print(num)

num.clear() # Remove all the element of the list. 'del' also works similar to clear
print(num)

print(1 in num) # Find the number, the output will be boolean

print(len(num)) # Find the length or the number of element of the list

print(type(num))

[1, 2, 3, 4, 5, 6]
[-8, 1, 2, 3, 4, 5, 6, 8, 9, 7, 6]
[-8, 1, 2, 4, 5, 6, 8, 9, 7, 6]
[-8, 1, 2, 5, 6, 8, 9, 7, 6]
[-8, 1, 2, 5, 6, 8, 9, 7]
[]
False
0
<class 'list'>

For Loop

In [ ]:
num = [1, 2, 3, 4, 5]
for item in num:
  print(item)

1
2
3
4
5

While Loop

In [ ]:
i = 0
while i < len(num):
  print(num[i])
  i = i + 1

1
2
3
4
5